<span class="bar-file-name">{{name}}</span>
<div class="upload-btn-container">
    <div class="upload-btn">
        <i class="fa fa-upload"></i>
        <span class="upload-txt">UPLOAD</span>
    </div>
</div>
